<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<link type="text/css" rel="stylesheet" href="<%- config.root %>css/style.css" />
		<link rel="stylesheet" type="text/css" href="<%- config.root %>css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="<%- config.root %>css/font-awesome.min.css">
		<script type="text/javascript" src="<%- config.root %>js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="<%- config.root %>js/link.js"></script>
		<script type="text/javascript" src="<%- config.root %>js/bootstrap.min.js"></script>
		<script type="text/javascript" src="<%- config.root %>js/fall.js"></script>
		<% if(config.title){ %>
			<title><%= config.title %></title> 
		<% }else{ %>
			<title>hexo</title>
		<% } %>
	</head>
